* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-logo {
	text-align: left;
}

.right-nav li {
    background-color: blueviolet;
    padding: 0rem;
    margin: 0rem;
    text-align: right;
    display: inline;

}


.title-2 {
    text-align: center;
}

.intro-description {
    background-color: grey;
    font-size: 20px;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-bottom: 5rem;
}

/*PREFOOTER SECTION*/

.pre-footer {
    background-color: skyblue;
    text-align: center;
    line-height: 10rem;
}

.title-2 {
    font-size: 30px;
}

.prefooter-description {
    font-size: 20px;
    margin-left: 7rem;
    margin-right: 7rem;
    line-height: 1.5rem;
}

.book-button {
    background-color: orange;
    color: white;
    outline: none;
    border: none;
    border-radius: 10rem;
    padding: 0.5rem;
    width: 10rem;
    font-size: 20px;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}

/*FOOTER*/

footer {
     background: #42A5F5;
        color: white;
        line-height: 20px;
        padding: 0 20px;
        text-align: center;
    
}